<!DOCTYPE html>
<html>
<head>
  <link href="/stylesheets/style2.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="/scripts/keyboard.js"></script>
</head>
<body>
  <table id="banner"><tr>
    <td class="menu" style="background-color:rgb(255, 212, 241)">About TYPR</td>
    <td class="menu" style="background-color:rgb(60, 160, 89)" onClick="location.href='db'">Stories</td>
    <td class="menu" style="background-color:rgb(200, 103, 172)">Stats</td>
    <td class="menu" id="to-go" style="background-color:rgb(189, 109, 255)">Progress Bar</td>
  </tr></table>
  <div id="typeBox">
    <div id="textArea">
    </div>
  </div>
</body>
</html>

<!-- git add .
git commit -m "test"
git push typr-heroku master
heroku open -->
