<!DOCTYPE>
<html>
<head>
<style>
/*@import url(https://fonts.googleapis.com/css?family=Special+Elite);*/
*{
  padding: 0;
  margin: 0;
  font-size: 12pt;
  font-family: monospace;'Special Elite', monospace;
}
#form{
  position:absolute;
  width:100%;
  height:100%;
  text-align: center;
  background-color: rgb(246, 244, 255);
  }
.Centered{
  display: inline-block;
  vertical-align: middle;
  background: transparent;
  border-radius: 10px;
  width:300px;
  height:100%;
}
#twImg{
  width:200px;
}
header{
  font-size: 36pt;
}
p{
  color:black;
  background-color: gray;
  border-radius: 2px;
  font-size: 15pt;
}
h2{
  color:gray;
  font-family: times;
  font-size: 18pt;
}
input{
  text-align: center;
  border-width: thin;
  border-style: solid;
  border-color: black;
}
button,input{
  width: 80%;
  font-size: 18pt;
  border-radius: 5px;
  outline: none;
}
</style>
</head>
<body>
  <form id="form" onsubmit="">
    <div class="Centered">
    <br><br>
    <header>TYPR</header>
    <img id='twImg' src="images/typewriter.png"></img><br>
    <input id="name" spellcheck="false" placeholder="Pen Name"/><br><br>
    <button>Start Typing</button>
    </div>
  </form>
</body>
</html>
